<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="common/shared/general::headerfiles"></th:block>
    <!-- include extra headerfiles here -->
</head>
<body id="page-top">

    <th:block th:replace="common/shared/adminfragment::topformat"></th:block>

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <!-- Your content goes here.. -->

        <h1>Your content goes here...</h1>

        <!-- ..Your content ends here -->
    </div>

    <th:block th:replace="common/shared/adminfragment::bottomformat"></th:block>

    <th:block th:replace="common/shared/general::scripts"></th:block>
    <!-- include extra scripts here -->
</body>
</html>