<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="common/shared/general::headerfiles"></th:block>
    <!-- include extra headerfiles here -->
</head>
<body id="page-top">

    <th:block th:replace="common/shared/adminfragment::topformat"></th:block>

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Icons</h1>
        </div>

        <!-- Your content goes here.. -->

        <div class="row">
            <div class="fa col-lg-3">
                <p class="fa fa-music"> fa-music </p><br/>
                <p class="fa fa-search"> fa-search </p><br/>
                <p class="fa fa-heart"> fa-heart </p><br/>
                <p class="fa fa-star"> fa-star </p><br/>
                <p class="fa fa-user"> fa-user </p><br/>
                <p class="fa fa-film"> fa-film </p><br/>
                <p class="fa fa-th-large"> fa-th-large </p><br/>
                <p class="fa fa-th"> fa-th </p><br/>
                <p class="fa fa-th-list"> fa-th-list </p><br/>
                <p class="fa fa-check"> fa-check </p><br/>
                <p class="fa fa-times"> fa-times </p><br/>
                <p class="fa fa-search-plus"> fa-search-plus </p><br/>
                <p class="fa fa-search-minus"> fa-search-minus </p><br/>
                <p class="fa fa-power-off"> fa-power-off </p><br/>
                <p class="fa fa-signal"> fa-signal </p><br/>
                <p class="fa fa-cog"> fa-cog {gear settings}</p><br/>
                <p class="fa fa-home"> fa-home </p><br/>
                <p class="fa fa-road"> fa-road </p><br/>
                <p class="fa fa-download"> fa-download </p><br/>
                <p class="fa fa-inbox"> fa-inbox </p><br/>
                <p class="fa fa-list-alt"> fa-list-alt </p><br/>
                <p class="fa fa-lock"> fa-lock </p><br/>
                <p class="fa fa-flag"> fa-flag </p><br/>
                <p class="fa fa-headphones"> fa-headphones </p><br/>
                <p class="fa fa-volume-off"> fa-volume-off </p><br/>
                <p class="fa fa-volume-down"> fa-volume-down </p><br/>
                <p class="fa fa-volume-up"> fa-volume-up </p><br/>
                <p class="fa fa-qrcode"> fa-qrcode </p><br/>
                <p class="fa fa-barcode"> fa-barcode </p><br/>
                <p class="fa fa-tag"> fa-tag </p><br/>
                <p class="fa fa-tags"> fa-tags </p><br/>
                <p class="fa fa-book"> fa-book </p><br/>
                <p class="fa fa-bookmark"> fa-bookmark </p><br/>
                <p class="fa fa-print"> fa-print </p><br/>
                <p class="fa fa-camera"> fa-camera </p><br/>
                <p class="fa fa-font"> fa-font </p><br/>
                <p class="fa fa-bold"> fa-bold </p><br/>
                <p class="fa fa-italic"> fa-italic </p><br/>
                <p class="fa fa-text-height"> fa-text-height </p><br/>
                <p class="fa fa-text-width"> fa-text-width </p><br/>
                <p class="fa fa-align-left"> fa-align-left </p><br/>
                <p class="fa fa-align-center"> fa-align-center </p><br/>
                <p class="fa fa-align-right"> fa-align-right </p><br/>
                <p class="fa fa-align-justify"> fa-align-justify </p><br/>
                <p class="fa fa-list"> fa-list </p><br/>
                <p class="fa fa-outdent"> fa-outdent </p><br/>
                <p class="fa fa-indent"> fa-indent </p><br/>
                <p class="fa fa-image"> fa-image </p><br/>
                <p class="fa fa-map-marker"> fa-map-marker </p><br/>
                <p class="fa fa-adjust"> fa-adjust </p><br/>
                <p class="fa fa-tint"> fa-tint </p><br/>
                <p class="fa fa-edit"> fa-edit </p><br/>
                <p class="fa fa-step-backward"> fa-step-backward </p><br/>
                <p class="fa fa-fast-backward"> fa-fast-backward </p><br/>
                <p class="fa fa-backward"> fa-backward </p><br/>
                <p class="fa fa-play"> fa-play </p><br/>
                <p class="fa fa-pause"> fa-pause </p><br/>
                <p class="fa fa-stop"> fa-stop </p><br/>
                <p class="fa fa-forward"> fa-forward </p><br/>
                <p class="fa fa-fast-forward"> fa-fast-forward </p><br/>
                <p class="fa fa-step-forward"> fa-step-forward </p><br/>
                <p class="fa fa-ambulance"> fa-ambulance </p><br/>
                <p class="fa fa-medkit"> fa-medkit </p><br/>
            </div>
            <!-- /.col-lg-6 (nested) -->
            <div class="fa col-lg-3">
                <p class="fa fa-camera-retro"> fa-camera-retro </p><br/>
                <p class="fa fa-key"> fa-key </p><br/>
                <p class="fa fa-cogs"> fa-cogs {gears} </p><br/>
                <p class="fa fa-comments"> fa-comments </p><br/>
                <p class="fa fa-star-half"> fa-star-half </p><br/>
                <p class="fa fa-trophy"> fa-trophy </p><br/>
                <p class="fa fa-upload"> fa-upload </p><br/>
                <p class="fa fa-phone"> fa-phone </p><br/>
                <p class="fa fa-phone-square"> fa-phone-square </p><br/>
                <p class="fa fa-unlock"> fa-unlock </p><br/>
                <p class="fa fa-credit-card"> fa-credit-card </p><br/>
                <p class="fa fa-rss"> fa-rss </p><br/>
                <p class="fa fa-bullhorn"> fa-bullhorn </p><br/>
                <p class="fa fa-bell"> fa-bell </p><br/>
                <p class="fa fa-certificate"> fa-certificate </p><br/>
                <p class="fa fa-arrow-circle-left"> fa-arrow-circle-left </p><br/>
                <p class="fa fa-arrow-circle-right"> fa-arrow-circle-right </p><br/>
                <p class="fa fa-arrow-circle-up"> fa-arrow-circle-up </p><br/>
                <p class="fa fa-arrow-circle-down"> fa-arrow-circle-down </p><br/>
                <p class="fa fa-globe"> fa-globe </p><br/>
                <p class="fa fa-wrench"> fa-wrench </p><br/>
                <p class="fa fa-tasks"> fa-tasks </p><br/>
                <p class="fa fa-filter"> fa-filter </p><br/>
                <p class="fa fa-briefcase"> fa-briefcase </p><br/>
                <p class="fa fa-arrows-alt"> fa-arrows-alt </p><br/>
                <p class="fa fa-users"> fa-users </p><br/>
                <p class="fa fa-link"> fa-link </p><br/>
                <p class="fa fa-cloud"> fa-cloud </p><br/>
                <p class="fa fa-flask"> fa-flask </p><br/>
                <p class="fa fa-cut"> fa-cut </p><br/>
                <p class="fa fa-copy"> fa-copy </p><br/>
                <p class="fa fa-paperclip"> fa-paperclip </p><br/>
                <p class="fa fa-save"> fa-save </p><br/>
                <p class="fa fa-square"> fa-square </p><br/>
                <p class="fa fa-bars"> fa-bars </p><br/>
                <p class="fa fa-list-ul"> fa-list-ul </p><br/>
                <p class="fa fa-list-ol"> fa-list-ol </p><br/>
                <p class="fa fa-strikethrough"> fa-strikethrough </p><br/>
                <p class="fa fa-underline"> fa-underline </p><br/>
                <p class="fa fa-table"> fa-table </p><br/>
                <p class="fa fa-magic"> fa-magic </p><br/>
                <p class="fa fa-truck"> fa-truck </p><br/>
                <p class="fa fa-caret-down"> fa-caret-down </p><br/>
                <p class="fa fa-caret-up"> fa-caret-up </p><br/>
                <p class="fa fa-caret-left"> fa-caret-left </p><br/>
                <p class="fa fa-caret-right"> fa-caret-right </p><br/>
                <p class="fa fa-columns"> fa-columns </p><br/>
                <p class="fa fa-sort"> fa-sort </p><br/>
                <p class="fa fa-sort-down"> fa-sort-down </p><br/>
                <p class="fa fa-sort-up"> fa-sort-up </p><br/>
                <p class="fa fa-envelope"> fa-envelope </p><br/>
                <p class="fa fa-undo"> fa-undo </p><br/>
                <p class="fa fa-gavel"> fa-gavel </p><br/>
                <p class="fa fa-bolt"> fa-bolt </p><br/>
                <p class="fa fa-sitemap"> fa-sitemap </p><br/>
                <p class="fa fa-umbrella"> fa-umbrella </p><br/>
                <p class="fa fa-paste"> fa-paste </p><br/>
                <p class="fa fa-clipboard"> fa-clipboard </p><br/>
                <p class="fa fa-user-md"> fa-user-md </p><br/>
                <p class="fa fa-stethoscope"> fa-stethoscope </p><br/>
                <p class="fa fa-suitcase"> fa-suitcase </p><br/>
                <p class="fa fa-coffee"> fa-coffee </p><br/>
                <p class="fa fa-fighter-jet"> fa-fighter-jet </p><br/>
            </div>
            <div class="fa col-lg-3">
                <p class="fa fa-angle-double-left"> fa-angle-double-left </p><br/>
                <p class="fa fa-angle-double-right"> fa-angle-double-right </p><br/>
                <p class="fa fa-angle-double-up"> fa-angle-double-up </p><br/>
                <p class="fa fa-angle-double-down"> fa-angle-double-down </p><br/>
                <p class="fa fa-angle-left"> fa-angle-left </p><br/>
                <p class="fa fa-angle-right"> fa-angle-right </p><br/>
                <p class="fa fa-angle-up"> fa-angle-up </p><br/>
                <p class="fa fa-angle-down"> fa-angle-down </p><br/>
                <p class="fa fa-desktop"> fa-desktop </p><br/>
                <p class="fa fa-laptop"> fa-laptop </p><br/>
                <p class="fa fa-tablet"> fa-tablet </p><br/>
                <p class="fa fa-mobile"> fa-mobile </p><br/>
                <p class="fa fa-quote-left"> fa-quote-left </p><br/>
                <p class="fa fa-quote-right"> fa-quote-right </p><br/>
                <p class="fa fa-spinner"> fa-spinner </p><br/>
                <p class="fa fa-circle"> fa-circle </p><br/>
                <p class="fa fa-reply"> fa-reply </p><br/>
                <p class="fa fa-gamepad"> fa-gamepad </p><br/>
                <p class="fa fa-flag-checkered"> fa-flag-checkered </p><br/>
                <p class="fa fa-terminal"> fa-terminal </p><br/>
                <p class="fa fa-code"> fa-code </p><br/>
                <p class="fa fa-reply-all"> fa-reply-all </p><br/>
                <p class="fa fa-location-arrow"> fa-location-arrow </p><br/>
                <p class="fa fa-crop"> fa-crop </p><br/>
                <p class="fa fa-unlink"> fa-unlink </p><br/>
                <p class="fa fa-question"> fa-question </p><br/>
                <p class="fa fa-info"> fa-info </p><br/>
                <p class="fa fa-exclamation"> fa-exclamation </p><br/>
                <p class="fa fa-superscript"> fa-superscript </p><br/>
                <p class="fa fa-subscript"> fa-subscript </p><br/>
                <p class="fa fa-eraser"> fa-eraser </p><br/>
                <p class="fa fa-puzzle-piece"> fa-puzzle-piece </p><br/>
                <p class="fa fa-microphone"> fa-microphone </p><br/>
                <p class="fa fa-microphone-slash"> fa-microphone-slash </p><br/>
                <p class="fa fa-fire-extinguisher"> fa-fire-extinguisher </p><br/>
                <p class="fa fa-rocket"> fa-rocket </p><br/>
                <p class="fa fa-chevron-circle-left"> fa-chevron-circle-left </p><br/>
                <p class="fa fa-chevron-circle-right"> fa-chevron-circle-right </p><br/>
                <p class="fa fa-chevron-circle-up"> fa-chevron-circle-up </p><br/>
                <p class="fa fa-chevron-circle-down"> fa-chevron-circle-down </p><br/>
                <p class="fa fa-anchor"> fa-anchor </p><br/>
                <p class="fa fa-unlock-alt"> fa-unlock-alt </p><br/>
                <p class="fa fa-bullseye"> fa-bullseye </p><br/>
                <p class="fa fa-ellipsis-h"> fa-ellipsis-h </p><br/>
                <p class="fa fa-ellipsis-v"> fa-ellipsis-v </p><br/>
                <p class="fa fa-rss-square"> fa-rss-square </p><br/>
                <p class="fa fa-play-circle"> fa-play-circle </p><br/>
                <p class="fa fa-minus-square"> fa-minus-square </p><br/>
                <p class="fa fa-check-square"> fa-check-square </p><br/>
                <p class="fa fa-share-square"> fa-share-square </p><br/>
                <p class="fa fa-compass"> fa-compass </p><br/>
                <p class="fa fa-file"> fa-file </p><br/>
                <p class="fa fa-thumbs-up"> fa-thumbs-up </p><br/>
                <p class="fa fa-thumbs-down"> fa-thumbs-down </p><br/>
                <p class="fa fa-eject"> fa-eject </p><br/>
                <p class="fa fa-chevron-left"> fa-chevron-left </p><br/>
                <p class="fa fa-chevron-right"> fa-chevron-right </p><br/>
                <p class="fa fa-plus-circle"> fa-plus-circle </p><br/>
                <p class="fa fa-minus-circle"> fa-minus-circle </p><br/>
                <p class="fa fa-times-circle"> fa-times-circle </p><br/>
                <p class="fa fa-check-circle"> fa-check-circle </p><br/>
                <p class="fa fa-question-circle"> fa-question-circle </p><br/>
                <p class="fa fa-info-circle"> fa-info-circle </p><br/>
            </div>
            <div class="fa col-lg-3">
                <p class="fa fa-female"> fa-female </p><br/>
                <p class="fa fa-male"> fa-male </p><br/>
                <p class="fa fa-archive"> fa-archive </p><br/>
                <p class="fa fa-bug"> fa-bug </p><br/>
                <p class="fa fa-wheelchair"> fa-wheelchair </p><br/>
                <p class="fa fa-space-shuttle"> fa-space-shuttle </p><br/>
                <p class="fa fa-envelope-square"> fa-envelope-square </p><br/>
                <p class="fa fa-university"> fa-university </p><br/>
                <p class="fa fa-graduation-cap"> fa-graduation-cap </p><br/>
                <p class="fa fa-language"> fa-language </p><br/>
                <p class="fa fa-fax"> fa-fax </p><br/>
                <p class="fa fa-building"> fa-building </p><br/>
                <p class="fa fa-child"> fa-child </p><br/>
                <p class="fa fa-paw"> fa-paw </p><br/>
                <p class="fa fa-cube"> fa-cube </p><br/>
                <p class="fa fa-cubes"> fa-cubes </p><br/>
                <p class="fa fa-recycle"> fa-recycle </p><br/>
                <p class="fa fa-car"> fa-car </p><br/>
                <p class="fa fa-taxi"> fa-taxi </p><br/>
                <p class="fa fa-tree"> fa-tree </p><br/>
                <p class="fa fa-database"> fa-database </p><br/>
                <p class="fa fa-life-ring"> fa-life-ring </p><br/>
                <p class="fa fa-paper-plane"> fa-paper-plane </p><br/>
                <p class="fa fa-history"> fa-history </p><br/>
                <p class="fa fa-paragraph"> fa-paragraph </p><br/>
                <p class="fa fa-share-alt"> fa-share-alt </p><br/>
                <p class="fa fa-share-alt-square"> fa-share-alt-square </p><br/>
                <p class="fa fa-bomb"> fa-bomb </p><br/>
                <p class="fa fa-crosshairs"> fa-crosshairs </p><br/>
                <p class="fa fa-ban"> fa-ban </p><br/>
                <p class="fa fa-arrow-left"> fa-arrow-left </p><br/>
                <p class="fa fa-arrow-right"> fa-arrow-right </p><br/>
                <p class="fa fa-arrow-up"> fa-arrow-up </p><br/>
                <p class="fa fa-arrow-down"> fa-arrow-down </p><br/>
                <p class="fa fa-share"> fa-share </p><br/>
                <p class="fa fa-expand"> fa-expand </p><br/>
                <p class="fa fa-compress"> fa-compress </p><br/>
                <p class="fa fa-plus"> fa-plus </p><br/>
                <p class="fa fa-minus"> fa-minus </p><br/>
                <p class="fa fa-asterisk"> fa-asterisk </p><br/>
                <p class="fa fa-exclamation-circle"> fa-exclamation-circle </p><br/>
                <p class="fa fa-gift"> fa-gift </p><br/>
                <p class="fa fa-leaf"> fa-leaf </p><br/>
                <p class="fa fa-fire"> fa-fire </p><br/>
                <p class="fa fa-eye"> fa-eye </p><br/>
                <p class="fa fa-eye-slash"> fa-eye-slash </p><br/>
                <p class="fa fa-exclamation-triangle"> fa-exclamation-triangle </p><br/>
                <p class="fa fa-plane"> fa-plane </p><br/>
                <p class="fa fa-calendar"> fa-calendar </p><br/>
                <p class="fa fa-random"> fa-random </p><br/>
                <p class="fa fa-comment"> fa-comment </p><br/>
                <p class="fa fa-magnet"> fa-magnet </p><br/>
                <p class="fa fa-chevron-up"> fa-chevron-up </p><br/>
                <p class="fa fa-chevron-down"> fa-chevron-down </p><br/>
                <p class="fa fa-retweet"> fa-retweet </p><br/>
                <p class="fa fa-shopping-cart"> fa-shopping-cart </p><br/>
                <p class="fa fa-folder"> fa-folder </p><br/>
                <p class="fa fa-folder-open"> fa-folder-open </p><br/>
                <p class="fa fa-beer"> fa-beer </p><br/>
                <p class="fa fa-h-square"> fa-h-square </p><br/>
                <p class="fa fa-plus-square"> fa-plus-square </p><br/>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>

        <!-- ..Your content ends here -->
    </div>

    <th:block th:replace="common/shared/adminfragment::bottomformat"></th:block>

    <th:block th:replace="common/shared/general::scripts"></th:block>
    <!-- include extra scripts here -->
</body>
</html>